%h1= t(:terms_list)
- if policy(Term.new).new?
  = link_to(t(:create), new_term_path, class: 'btn btn-primary mb-3')
.list-group
  - @terms.each do |term|
    .list-group-item.d-flex.justify-content-between
      %span
        %b= term.subject
        with content:
        "#{term.content}"
      = button_to t(:remove), term_path(term),
                  method: :delete,
                  class: 'btn p-0 text-danger'
